<a href="https://colab.research.google.com/github/sumonpme/ASS_NUMPY/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction**

In [ ]:
print("hello world")

hello world

## **Variable**

In [ ]:
# Creating variables
name = "Rahim"
age = 20
is_student = True
height = 5.9
# Printing variables
print("Name:", name)
print("Age:", age)
print("Student status:", is_student)
print("Height:", height, "feet")

Name: Rahim
Age: 20
Student status: True
Height: 5.9 feet

In [ ]:
name = "Tasnim"
address = 'Dhaka'
age = 25
price = 99.99
is_valid = True
has_paid = False
result = None
print(type(name))
print(type(age))
print(type(price))
print(type(is_valid))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
a = 10
b = 3
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.333...
print(a // b) # Floor division: 3
print(a % b)  # Modulus (remainder): 1
print(a ** b) # Exponentiation: 1000

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
first = "Hello"
last = "World"
# Concatenation
full = first + " " + last
print(full)  # Hello World
# Repetition
repeated = first * 3
print(repeated)  # HelloHelloHello#
#Length
print(len(full))  # 11

Hello World
HelloHelloHello
11

## **Data Structure**

In [ ]:
# Creating a list
fruits = ["apple", "banana", "orange", "mango"]
# Accessing elements (indexing starts at 0)
print(fruits[0])       # apple
print(fruits[2])       # orange
# Negative indexing (counts from the end)
print(fruits[-1])      # mango
# Slicing lists
print(fruits[1:3])     # ['banana', 'orange’]
# Changing an element
fruits[1] = "grape"
print(fruits)          # ['apple', 'grape', 'orange', 'mango']

apple
orange
mango
['banana', 'orange']
['apple', 'grape', 'orange', 'mango']

In [ ]:
#Adding Elements in List
fruits = ["apple", "banana"]
fruits.append("orange")    # Add to end
fruits.insert(1, "mango")  # Insert at position
print(fruits)  # ['apple', 'mango', 'banana', 'orange']

['apple', 'mango', 'banana', 'orange']

In [ ]:
#Removing Elements in List
fruits = ["apple", "mango", "banana", "orange"]
fruits.remove("mango")    # Remove by value
popped = fruits.pop()    # Remove & return last item
print(popped) # orange
print(fruits) # ['apple', 'banana']

orange
['apple', 'banana']

In [ ]:
#organinzing list
fruits = ["orange", "apple", "mango", "banana"]
fruits.sort() # Alphabetical order
print(fruits) # ['apple', 'banana', 'mango', 'orange’]
fruits.reverse() # Reverse order
print(fruits) # ['orange', 'mango', 'banana', 'apple']

['apple', 'banana', 'mango', 'orange']
['orange', 'mango', 'banana', 'apple']

In [ ]:
# Creating a dictionary
student = {
"name": "Fahim",
"age": 21,
"university": "BUET",
"courses": ["Python", "Data Science", "Web Development"]}
# Accessing values using keys
print(student["name"])      # Fahim
print(student["courses"][0])  # Python
# Adding or modifying items
student["phone"] = "01712345678"
student["age"] = 22
# Checking if a key exists
if "email" in student:
  print("Email found")
else:
  print("No email found")   # No email found

Fahim
Python
No email found

In [ ]:
# Creating a tuple
coordinates = (10.5, 20.8)
rgb_color = (255, 0, 128)
# Accessing elements
print(coordinates[0])    # 10.5
print(rgb_color[2])      # 128
# Attempting to change (will cause error)
# rgb_color[0] = 200  # TypeError!
# Length of tuple
print(len(rgb_color))    # 3

10.5
128
3

In [ ]:
# Tuple with different data types
mixed = ("Dhaka", 23.8, True, 2023)
# Single-item tuple needs a comma
single = (42,)  # Without comma: just an int
print(mixed)
print(single)

('Dhaka', 23.8, True, 2023)
(42,)

In [ ]:
# Creating a set
fruits = {"apple", "banana", "orange", "apple"}
print(fruits)  # {'orange', 'banana', 'apple'} (no duplicates)
# Adding elements
fruits.add("mango")
fruits.update(["grape", "kiwi"])
# Removing elements
fruits.remove("banana")  # Raises error if not found
fruits.discard("pear")
# Set operations
bangladeshi_fruits = {"mango", "jackfruit", "banana"}
imported_fruits = {"apple", "kiwi", "banana"}
# Union (all elements from both sets)
all_fruits = bangladeshi_fruits | imported_fruits
print(all_fruits)
# Intersection (common elements)
common = bangladeshi_fruits & imported_fruits  # {'banana'}
print(common)

{'orange', 'banana', 'apple'}
{'banana', 'kiwi', 'mango', 'jackfruit', 'apple'}
{'banana'}

## **Conditional**

In [ ]:
# Basic if-else
age = 19
if age >= 18:
  print("You are an adult")
else:
  print("You are a minor")

# if-elif-else (multiple conditions)
score = 85
if score >= 90:
  grade = "A+"
elif score >= 80:
  grade = "A"
elif score >= 70:
  grade = "B"
elif score >= 60:
  grade = "C"
else:
  grade = "F"
print(f"Your grade is {grade}")  # Your grade is A

You are an adult
Your grade is A

In [ ]:
#nested if statements
temperature = 32
humidity = 80
if temperature > 30:
  if humidity > 70:
    print("Hot and humid")
  else:
    print("Hot but dry")
else:
  if humidity > 70:
    print("Cool but humid")
  else:
    print("Cool and dry")

Hot and humid

In [ ]:
# More efficient version using logical operators
if temperature > 30 and humidity > 70:
  print("Hot and humid")
elif temperature > 30 and humidity <= 70:
  print("Hot but dry")
elif temperature <= 30 and humidity > 70:
  print("Cool but humid")
else:
  print("Cool and dry")
# Other logical operators
has_id = True
is_holiday = False
if has_id or is_holiday:
  print("Can enter")  # Prints this
if not is_holiday:
  print("Work day")   # Prints this

Hot and humid
Can enter
Work day

## **Loop**

In [ ]:
# Looping through a list
fruits = ["apple", "banana", "orange"]
for fruit in fruits:
  print(f"I like {fruit}")
print("\n")
# Using range() function
for i in range(5):  # 0 to 4
  print(i)
print("\n")
for i in range(2,10):  # 2 to 8
  print(i)

I like apple
I like banana
I like orange


0
1
2
3
4


2
3
4
5
6
7
8
9

In [ ]:
# Continue until a condition is met
count = 0
while count < 5:
  print(count)
  count += 1  # Don't forget to increment!
print("\n")
# With a break statement
number = 0
while True:
  number += 1
  if number > 10:
    break
  print(number)

0
1
2
3
4


1
2
3
4
5
6
7
8
9
10

In [ ]:
# Continue statement - skip to next iteration
for num in range(10):
  if num % 2 == 0:
    continue  # Skip even numbers
  print(num)    # Prints only odd numbers
print("\n")
# Break statement - exit the loop
for num in range(100):
  if num > 10:
    break
  print(num)
# Stop when we reach 11
# Prints 0 through 10

1
3
5
7
9


0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# Multiplication table (1-5)
for i in range(1, 6):
  for j in range(1, 6):
    product = i * j
    print(f"{i} × {j} = {product}")
  print("-----")  # Separator between tables

1 × 1 = 1
1 × 2 = 2
1 × 3 = 3
1 × 4 = 4
1 × 5 = 5
-----
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
-----
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
-----
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
-----
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
-----

In [ ]:
#pattern printing
for i in range(1, 6):
 print("*" * i)

*
**
***
****
*****

## **Function**

In [ ]:
# Defining a simple function
def greet():
  print("Hello! Welcome to Python programming.")
# Calling the function
greet()
# Function with parameters
def greet_person(name):
  print(f"Hello, {name}! How are you today?")
greet_person("Tahmid")  # Hello, Tahmid! How are you today?
# Function with return value
def add_numbers(a, b):
  sum = a + b
  return sum
result = add_numbers(5, 3)
print(f"The sum is {result}")  # The sum is 8

Hello! Welcome to Python programming.
Hello, Tahmid! How are you today?
The sum is 8

In [ ]:
def greet(name, message="Good morning"):
  print(f"{message}, {name}!")
greet("Nadia")  # Good morning, Nadia!
greet("Karim", "Hello")  # Hello, Karim!

Good morning, Nadia!
Hello, Karim!

In [ ]:
def describe_person(name, age, city):
  print(f"{name} is {age} years old from {city}")
# Order doesn't matter with keyword args
describe_person(city="Chittagong", name="Rahim", age=25)

Rahim is 25 years old from Chittagong

In [ ]:
def calculate_stats(numbers):
  total = sum(numbers)
  average = total / len(numbers)
  maximum = max(numbers)
  minimum = min(numbers)
  return total, average, maximum, minimum
stats = calculate_stats([5, 10, 15, 20])
print(stats)  # (50, 12.5, 20, 5)

(50, 12.5, 20, 5)

In [ ]:
total = 0  # Global variable

def add_to_total(value):
    global total  # Access global variable
    total += value
    return total

print(add_to_total(5))  # 5
print(add_to_total(10))  # 15

5
15

In [ ]:
# Math module
import math
print(math.pi)  # 3.141592653589793
print(math.sqrt(16))  # 4.0
# Random module
import random
print(random.randint(1, 10))  # Random number
print(random.choice(["apple", "banana", "orange"]))
 # Datetime module
import datetime
current_date = datetime.datetime.now()
print(current_date)

3.141592653589793
4.0
9
apple
2025-08-15 06:55:34.862773

In [ ]:
# mymath.py
%%writefile mymath.py
def add(a, b):
  return a + b
def subtract(a, b):
  return a - b
PI = 3.14159

Writing mymath.py

In [ ]:
import mymath
print(mymath.add(5, 3))      # 8
print(mymath.subtract(10, 4)) # 6
print(mymath.PI)             # 3.14159

8
6
3.14159